<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
<h2><a href="{% url 'landing-page' %}">STRONA GŁÓWNA</a></h2>
{#<h2><a href="/index/?search={{ main.session.search }}">WYNIKI WYSZUKIWANIA</a></h2>#}
<h3>
{% if user.is_authenticated %}
    Witaj {{ user.username }}
    <br><a href="{% url 'reservations' user.id %}">Twoje rezerwacje</a>
    <a href="{% url 'logout' %}">Wyloguj</a> <a href="{% url 'user' user.id %}">Konto</a>
    {% else %}
    <a href="{% url 'login' %}">Zaloguj się</a> <a href="{% url 'client-registration' %}">Zarejestruj się</a>
{% endif %}
</h3>
<br>
{% block content %}
{% endblock %}
<footer>author: Mateusz Tront</footer>
</body>
</html>